<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body id="body" class="">

<nav class="navbar navbar-expand-lg bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold text-light" href="home">Panel de Control</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu lead"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Evento
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="eventos">Crear</a></li>
                        <li><a class="dropdown-item" href="#eventobuscar">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Devocional
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#devocionalcrear">Crear</a></li>
                        <li><a class="dropdown-item" href="#devocionalbuscar">Buscar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reunión
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#reunioncrear">Crear</a></li>
                        <li><a class="dropdown-item" href="#reunionbuscar">Buscar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--<div th:replace="/include/navbar :: navbar"></div>

<div th:replace="/include/header :: header"></div>

<div th:replace="/include/header-slide :: header-slide"></div>

<div th:replace="/sections/quienes-somos :: quienes-somos"></div>

<div th:replace="/sections/reuniones :: reuniones"></div>

<div th:replace="/sections/noticias :: noticias"></div>

<div th:replace="/sections/redes-sociales :: redes-sociales"></div>

<div th:replace="/sections/datos-contacto :: datos-contacto"></div>

<div th:replace="/include/footer :: footer"></div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


</body>
</html>

